 *{
  margin:0;

 }
 body{
      background-image: url('../res/back.jpg');
    }
    /* Generate button*/
    #generate:focus{
      outline: none;
    }

    #generate{
      background: transparent;
    border: 0.2rem solid black;
    border-radius: 2rem;
    box-shadow: 1rem 1rem 2rem #444;
    color: black;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    height: 5rem;
    letter-spacing: 0.2rem;
    margin-top: 3rem;
    opacity: 0.8;
    text-transform: uppercase;
    transition: all 0.1s;
    width: 70%;
    }

    @media (max-width: 1520px){
      #generate{
        font-size: 15px;
      }
    }
    @media (max-width: 1200px){
      #generate{

        letter-spacing:0;
      }
    }
    @media (max-width: 950px){
      #generate{
        font-size: 8px;
        font-weight: bold;
      }
    }


    #generate:active {
  transform: translateY(0);
}

#generate:hover {
  transform: translateY(-0.4rem);
}

/*Wrapper*/

#wrap{
  background: transparent;
  border-radius: 2rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.9);
  margin-top: 25vh;
  margin-left: 30vw;
  text-align: center;
  width: 40vw;
  height: 40vh;
}

h2,h1{
  padding-top: 20px;
}

@media (max-width: 1170px){
h1,h2{
  font-size: 25px;
}
}

@media (max-width: 950px){
      h1,h2{
  font-size: 20px;
}
    }

@media (max-width: 700px){
      h1,h2{
  font-size: 15px;
}
    }